@font-face {
    font-family: "Delicious Handrawn";
    src: local('Delicious Handrawn'), url(./assets/fonts/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf) format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
}